body { border: 0; }
hr { margin: 20px auto; }

#mainWrap { max-width: 800px; margin: 0 auto; padding: 1rem; background-color: #e6e6e6; }
.leftBar {
	border-left: 5px solid #385ccb;
	padding: 7px 10px 5px;
	background-color: #F2F2F2;
	color: #272822;
	margin-bottom: 5px;
}
.leftBar.red { border-left-color: #F00; }
.leftBar.green { border-left-color: #0F0; }

.alc { text-align: center; }

.btnA {
	/*width: 100%;*/
	height: 60px;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.btnA:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.btnA:active {
	position:relative;
	top:1px;
}